/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* ************************************
Images for all of the articles tied to their id
*************************************** */
.pictureOfTheWeek{
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 65rem;
  background-size: cover;
  background-position: top;
  width: auto;
  padding: 0;
}
#octoberNineteenth2023{
  background-image: url(/assets/images/oct192023.png);
}
#octoberTwelvth2023{
  background-image: url(/assets/images/oct122023.png);
}

#octoberFifth2023{
  background-image: url(/assets/images/10-5-23.jpg);
}

#mathias{
  background-image: url(/assets/images/MathiasSmall.png);
}



/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}
body {
  background-image: url(/assets/images/TackleCollectiveBackground.png);
  background-size: 12%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
}

.button{
  height: 10rem;
  width: auto;
  background-color: rgb(224, 224, 224);
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin-right: 15%;
  border-radius: 1rem;
}
.buttonAlt{ 
  height: 10rem;
  width: 20rem;
  background-color: rgb(224, 224, 224);
  /* position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin-right: 15%; */
  border-radius: 1rem;
}
.button a,
.buttonAlt a{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  padding: 1rem;
}


a{
  text-decoration: none;
  color: black;
  font-family: 'Charm', cursive;
}

.hide{
  display: none;
  visibility: hidden;
}
.hidePerm{
  display: none;
  visibility: hidden;
}
#tagLine {
  font-size: 1.5rem;
}
/* .linkToFB{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(168, 6, 111);
  text-decoration: underline;
} */

/******************************************
/* HEADER
/*******************************************/
header {
  font-weight: 700;
  font-size: 11rem;
  text-align: center;
  width: 60%;
  padding: 2rem 5px 1rem 5px;
  margin: 2rem auto 0 auto;
  background-color: rgba(0, 0, 0, 0.891);
  border-radius: 1rem;
  color: rgb(224, 224, 224);
  font-variant: small-caps;
  box-shadow: 0px 20px 100px 20px rgb(0, 0, 0);
  font-family: 'Charm', cursive;
}
header h3,
header h4{
  font-size: 2rem;
}

.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.topBar nav{
  width: 15%;
  text-align: center;
  margin: 2rem auto 0 auto;
}

.topBar section{
  border: 2px solid rgb(194, 194, 194);
}




/******************************************
/* MAIN
/*******************************************/

main{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  margin: 5rem auto;
}
main section{
  width: 45%;
  height: 60rem;
  text-align: left;
  background-color: rgba(224, 224, 224, 0.93);
  box-shadow: 0px 5px 200px 1px rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 1rem;
}
.creator{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2rem;
  height: auto;
}

.bio{
  margin-left: 2rem;
  padding: 3rem;
}
.bio p{
  background-color: rgb(224, 224, 224);
  border-radius: 1rem;
  text-indent: 25px;
}

span{
  display: block;
  margin-top: 1rem;
}
#writeUp{
  height: auto;
}



/******************************************
/* MAIN FOR ARCHIVE PAGE
/*******************************************/

.archives{
  margin: 3rem auto;
}

#archHead{
  
}

.archives section{
  box-shadow: none;
  border: 2px solid rgb(194, 194, 194);
}

.archives nav{
  width: 88%;
  margin: 0 auto;
}

.archives ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  
}
.archives li{
  margin: 2rem;
}
.archives a{
  text-align: center;
}


/******************************************
/* Media Queries
/*******************************************/



/* header */
@media screen and (max-width: 1580px){
  header h1{
    font-size: 7rem;
  }
}

@media screen and (max-width: 1000px){
  header h1{
    font-size: 6rem;
  }
}

@media screen and (max-width: 858px){
  header{
    padding: 2rem;
  }
  header h1{
    font-size: 4rem;
  }
}

@media  screen and (max-width: 628px) {
  header h1{
    font-size: 3rem;
  }
  header h3,
  header h4{
    font-size: 1.4rem;
  }
  .button{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 488px){
  header{
    width: 85%;
  }
  .topBar{
    flex-wrap: wrap;
  }
  .topBar nav{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .button{
    height: 4rem;
    margin: 0 1rem;
    transform: translateY(-50%) translateX(0%);
    left: 0%;
  }
  .hide{
    display: block;
    visibility: visible;
  }

}

@media screen and (max-width: 386px) {
  .button{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 344px) {
  header h1{
    font-size: 2rem;
  }
  header{
    padding: 10px;
  }
  header h3,
  header h4{
    font-size: 1.2rem;
  }
  .topBar nav{
    margin-top: .5rem;
  }
  #archHead{
    margin-top: .5rem;
  }
}

/* Main */


@media screen and (max-width: 700px){
  main{
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  main .creator,
  main .bio{
    margin:1rem auto;
    height: auto;
    width: 80%;
  }
  /************************************************************************************************************************** Look Here for Picture Size Issues **********************************************************************************************/
  main .pictureOfTheWeek{
    height: 40rem;
  }
}

/* Archives */
@media screen and (max-width: 488px) {
  .archives li{
    margin: .7rem;
  }
  .buttonAlt{
    height: 5rem;
    
  }
}
@media screen and (max-width: 340px) {
  .archives{
    margin: 1rem;
  }
}

/******************************************
/* EACH PAGES SPECIFIC ALTERATIONS XXXXXXXXXXXXXXXX DO NOT USE ANYMORE
/*******************************************/

/* about me */
/* #aboutMe{
  height: auto;
}
#mathias{
  width: 30%;
  background-image: url(/assets/images/MathiasSmall.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1365px) {
  #aboutMe{
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1143px) {
  #aboutMe{
    font-size: 1.4rem;
    width: 60%;
    margin-left: .5rem;
  }
  #mathias{
    width: 35%;
    margin-right: .5rem;
  }
}
@media screen and (max-width: 857px) {
  #mathias{
    background-size:cover;
    height: 40rem;
  }
}
@media screen and (max-width: 701px) {
  #mathias,
  #aboutMe{
    margin: 0 auto .5rem auto;
    width: 75%;
  }
  #mathias{
    background-position: top;
    background-size: cover;
  }

}
@media screen and (max-width: 455px) {
  #aboutMe,
  #mathias{
    width: 90%;
  }
}
@media screen and (max-width: 351px) {
  #mathias{
    background-size: cover;
  }
} */