/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}
body {
  background-image: url(/assets/images/fishingBackground.png);
  background-size: 12%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.8rem;
}

.button{
  height: 10rem;
  width: auto;
  background-color: rgb(224, 224, 224);
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin-right: 15%;
  border-radius: 1rem;
}
.buttonAlt{ 
  height: 10rem;
  width: 20rem;
  background-color: rgb(224, 224, 224);
  /* position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  margin-right: 15%; */
  border-radius: 1rem;
}
.button a,
.buttonAlt a{
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  padding: 1rem;
}


a{
  text-decoration: none;
  color: black;
  font-family: 'Charm', cursive;
}

.hide{
  visibility: hidden;
}
/******************************************
/* HEADER
/*******************************************/
header {
  font-weight: 700;
  font-size: 11rem;
  text-align: center;
  width: 60%;
  padding: 2rem 0 1rem 0;
  margin: 2rem auto 0 auto;
  background-color: rgba(0, 0, 0, 0.891);
  border-radius: 1rem;
  color: rgb(224, 224, 224);
  font-variant: small-caps;
  box-shadow: 0px 20px 100px 20px rgb(0, 0, 0);
  font-family: 'Charm', cursive;
}
header h3,
header h4{
  font-size: 2rem;
}
.topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.topBar nav{
  width: 15%;
  text-align: center;
  margin: 2rem auto 0 auto;
}




/******************************************
/* MAIN
/*******************************************/

main{
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-direction: row;
  margin: 5rem auto;
}
main section{
  width: 45%;
  height: 60rem;
  text-align: left;
  background-color: rgba(224, 224, 224, 0.93);
  box-shadow: 0px 5px 200px 1px rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 1rem;
}
.creator{
  background-image: url(https://images.pexels.com/photos/190294/pexels-photo-190294.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 2rem;
}
.bio{
  margin-left: 2rem;
}
.bio p{
  background-color: rgb(224, 224, 224);
  border-radius: 1rem;
  text-indent: 25px;
}
.bio article{
  position: relative;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

/******************************************
/* MAIN FOR ARCHIVE PAGE
/*******************************************/

.archives{
  margin: 3rem auto;
}

.archives nav{
  width: 88%;
  margin: 0 auto;
}

.archives ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  
}
.archives li{
  margin: 2rem;
}

/******************************************
/* EACH PAGES SPECIFIC ALTERATIONS
/*******************************************/

/* about me */
#aboutMe{
  height: 60rem;
}
#aboutMe article{
  
}
#mathias{
  width: 30%;
  background-image: url(/assets/images/Mathias.png);
}

/* triple threat lures */

#triple{
  background-image: url(/assets/images/SalmonLuresToTopNoBackground.png);
}